<%= content_for :page_title do 'Ãndice' end %>

<nav class="alg-viewport-size">
  <a href="#" data-size="1440" class="alg-viewport-size-option">Laptop L - 1440px</a>
  <a href="#" data-size="1024" class="alg-viewport-size-option">Laptop - 1024px</a>
  <a href="#" data-size="768" class="alg-viewport-size-option">Tablet - 768px</a>
  <a href="#" data-size="425" class="alg-viewport-size-option">Mobile L - 425px</a>
  <a href="#" data-size="375" class="alg-viewport-size-option">Mobile M - 375px</a>
  <a href="#" data-size="320" class="alg-viewport-size-option is-active">Mobile S - 320px</a>
</nav>

<div class="alg-viewport-content">
  <textarea class="alg-viewport-resize" disabled></textarea>

  <div class="alg-viewport-content-inner js-viewport-content">
    <iframe src="http://algorich.com.br"></iframe>
  </div>
</div>
