/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
** Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */

:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

/* box sizing */

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
** General
*/

body, html {
  height: 100%;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: #333;
  background: #fff;
}

body, html, input {
  font-size: 14px !important;
  line-height: 1.5;
}

a {
  color: #4078c0;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

/*
** Main navigation & Page
*/

.alg-mainNavigation,
.alg-page {
  position: fixed;
  top: 0;
  height: 100%;
}

/*
** Main navigation
*/

.alg-mainNavigation {
  left: 0;
  width: 300px;
  background: #fff;
}

.alg-mainNavigation-header {
  height: 42px;
}

.alg-mainNavigation-items {
  height: calc(100% - 42px);
  overflow-y: auto;
}

.alg-mainNavigation-item,
.alg-mainNavigation-search {
  display: block;
  padding: 10px;
}

.alg-mainNavigation-search {
  border: 0;
  width: 100%;
  background: transparent;
}

.alg-mainNavigation-item {
  transition: background-color 0.2s ease;
  font-weight: 300;
}

.alg-mainNavigation-item:hover {
  text-decoration: none;
}

.alg-mainNavigation-item.is-active,
.alg-mainNavigation-item:hover,
.alg-mainNavigation-item:focus {
  background: #f9f9f9;
}

/*
** Page
*/

.alg-page {
  transition: width 0.2s ease;
  width: 100%;
  right: 0;
  background: #f9f9f9;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.alg-page-overlay {
  transition: opacity 0.2s ease;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  z-index: 0;
}

.alg-page-inner {
  height: 100%;
  overflow: hidden;
  min-width: 320px;
}

.alg-page.is-compact {
  width: calc(100% - 300px);
}

@media only screen and (max-width : 767px) {
  .alg-page.is-compact > .alg-page-overlay {
    display: block;
    opacity: 1;
    z-index: 10;
    right: 0;
    bottom: 0;
  }
}

.alg-page-header {
  background: #f9f9f9;
}

.alg-page-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.alg-page-toggle > label,
.alg-page-toggle > label > span {
  display: block;
}

.alg-page-toggle > label {
  padding: 6px 0;
  cursor: pointer;
}

.alg-page-toggle > label > span {
  margin: 6px auto;
  width: 24px;
  height: 2px;
  background: #ccc;
}

.alg-page-toggle:hover > label > span,
.alg-page-toggle:focus > label > span {
  background: #aaa;
}

.alg-page-toggle > input:checked + label > span {
  background: #444;
}

.alg-page-toggle > input {
  display: none;
}

.alg-page-title {
  padding-left: 42px;
  height: 42px;
  font-size: 1.2rem;
  line-height: 42px;
  vertical-align: middle;
  font-weight: 300;
  text-transform: uppercase;
}

.alg-page-navigation {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  box-shadow: inset 0 -1px 0 0 #f0f0f0;
}

.alg-page-section {
  padding: 0 10px;
  height: 41px;
  line-height: 41px;
  vertical-align: middle;
  flex: 0 0 auto;
}

.alg-page-section:hover,
.alg-page-section:focus,
.alg-page-section.is-active {
  text-decoration: none;
  box-shadow: inset 0 -1px 0 0 #ccc;
}

.alg-page-content {
  height: calc(100% - 84px);
  overflow-y: auto;
}

/*
** Truncate
*/

.alg-mainNavigation-item,
.alg-page-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
** Container
*/

.alg-container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 800px;
}

/*
** Viewport
*/

.alg-viewport {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.alg-viewport-size {
  position: relative;
  overflow: hidden;
  height: 26px;
  border-bottom: 1px solid #e5e5e5;
}

.alg-viewport-size-option {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  color: transparent;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  padding: 5px 0;
}

.alg-viewport-size-option:hover,
.alg-viewport-size-option:focus {
  color: #4078c0;
  text-decoration: none;
  background: #f0f0f0;
}

.alg-viewport-size-option[data-size="1440"] {
  width: calc(1440px + 2px);
  margin-left: calc(1440px / -2 + 2px);
}

.alg-viewport-size-option[data-size="1024"] {
  width: calc(1024px + 2px);
  margin-left: calc(1024px / -2 + 2px);
}

.alg-viewport-size-option[data-size="768"] {
  width: calc(768px + 2px);
  margin-left: calc(768px / -2 + 2px);
}

.alg-viewport-size-option[data-size="425"] {
  width: calc(425px + 2px);
  margin-left: calc(425px / -2 + 2px);
}

.alg-viewport-size-option[data-size="375"] {
  width: calc(375px + 2px);
  margin-left: calc(375px / -2 + 2px);
}

.alg-viewport-size-option[data-size="320"] {
  width: calc(320px + 2px);
  margin-left: calc(320px / -2 + 2px);
}

.alg-viewport-content,
.alg-viewport-resize {
  min-height: 400px;
  background: #fafafa;
}

.alg-viewport-content {
  position: relative;
  overflow: hidden;
}

.alg-viewport-resize {
  display: block;
  width: 100%;
  max-width: 100%;
  border: 0;
}

.alg-viewport-content-inner {
  position: absolute;
  top: 0;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% - 10px);
  border: 1px solid #e5e5e5;
  border-top: 0;
}

.alg-viewport-content-inner[data-size="1440"] {
  left: 50%;
  width: calc(1440px + 2px);
  margin-left: calc(1440px / -2 + 2px);
}

.alg-viewport-content-inner[data-size="1024"] {
  left: 50%;
  width: calc(1024px + 2px);
  margin-left: calc(1024px / -2 + 2px);
}

.alg-viewport-content-inner[data-size="768"] {
  left: 50%;
  width: calc(768px + 2px);
  margin-left: calc(768px / -2 + 2px);
}

.alg-viewport-content-inner[data-size="425"] {
  left: 50%;
  width: calc(425px + 2px);
  margin-left: calc(425px / -2 + 2px);
}

.alg-viewport-content-inner[data-size="375"] {
  left: 50%;
  width: calc(375px + 2px);
  margin-left: calc(375px / -2 + 2px);
}

.alg-viewport-content-inner[data-size="320"] {
  left: 50%;
  width: calc(320px + 2px);
  margin-left: calc(320px / -2 + 2px);
}

.alg-viewport-content-inner > iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
