/*
** Page
*/

.alg-page {
  transition: width 0.2s ease;
  width: 100%;
  right: 0;
  background: #f9f9f9;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.alg-page.is-compact {
  width: calc(100% - 300px);
}

/* Overlay */

.alg-page-overlay {
  transition: opacity 0.2s ease;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  z-index: 0;
}

@media only screen and (max-width: 767px) {
  .alg-page.is-compact > .alg-page-overlay {
    display: block;
    opacity: 1;
    z-index: 10;
    right: 0;
    bottom: 0;
  }
}

/* Inner */

.alg-page-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  min-width: 320px;
}

/* Header */

.alg-page-header {
  background: #f9f9f9;
}

/* Toggle */

.alg-page-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.alg-page-toggle > label,
.alg-page-toggle > label > span {
  display: block;
}

.alg-page-toggle > label {
  padding: 6px 0;
  cursor: pointer;
}

.alg-page-toggle > label > span {
  margin: 6px auto;
  width: 24px;
  height: 2px;
  background: #ccc;
}

.alg-page-toggle:hover > label > span,
.alg-page-toggle:focus > label > span {
  background: #aaa;
}

.alg-page-toggle > input:checked + label > span {
  background: #444;
}

.alg-page-toggle > input {
  display: none;
}

/* Title */

.alg-page-title {
  padding-left: 42px;
  height: 42px;
  font-size: 1.2rem;
  line-height: 42px;
  vertical-align: middle;
  font-weight: 300;
  text-transform: uppercase;
}

/* Navigation */

.alg-page-navigation {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  box-shadow: inset 0 -1px 0 0 #f0f0f0;
}

.alg-page-section {
  padding: 0 10px;
  height: 41px;
  line-height: 41px;
  vertical-align: middle;
  flex: 0 0 auto;
}

.alg-page-section:hover,
.alg-page-section:focus,
.alg-page-section.is-active {
  text-decoration: none;
  box-shadow: inset 0 -2px 0 0 #4078c0;
}

/* Content */

.alg-page-content {
  overflow-y: auto;
}
