/*
** Search block
*/

.alg-searchBlock {
  position: absolute;
  display: block;
  padding: 15px;
  border: 0;
  background: #fff;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  top: 42px;
  left: 15px;
  width: calc(100% - 30px);
  z-index: 3;
}

@media only screen and (min-width: 768px) {
  .alg-searchBlock {
    left: 50%;
    margin-left: calc(700px / -2);
    width: 700px;
  }
}
